@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-lightgreen: #eff5e1;
  --color-darkgreen: #2d3b36;
  --color-greyish: #525349;
}
